
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/untree.co-sterial/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/untree.co-sterial/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/untree.co-sterial/css/tiny-slider.css">
    <link rel="stylesheet" href="~/untree.co-sterial/css/aos.css">
    <link rel="stylesheet" href="~/untree.co-sterial/css/flatpickr.min.css">
    <link rel="stylesheet" href="~/untree.co-sterial/css/glightbox.min.css">
    <link rel="stylesheet" href="~/untree.co-sterial/css/style.css">


    <title>YOLaÇIK &mdash; Seyahat Blog Sitesi </title>
</head>
<body>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>




    @RenderBody()

    <div class="site-footer">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <h3>Felsefi Görüşümüz<span class="text-primary"></span> </h3>
                        <p>“Öyle zamanlar olur ki; nereye gittiğin önemini yitirir. Çünkü asıl önemli olan, yanında kiminle gittiğindir…”</p>
                        <p style="right"> Tolstoy</p>
                    </div> <!-- /.widget -->
                    <div class="widget">
                        <h3>Sosyal Medya Hesaplarımız</h3>
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li><a href="#"><span class="icon-dribbble"></span></a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-2 ml-auto" style="padding-left:100px">
                    <div class="widget">
                        <h3>Links</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="/Default/Index">Ana Sayfa</a></li>
                            <li><a href="#">Gezimedya</a></li>
                            <li><a href="#">Seyahat Rehberi</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="/Hakkımızda/Index">Biz Kimiz?</a></li>
                            <li><a href="/İletisim/Index">Bize Ulaşın</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->


                <div class="col-lg-6">
                    <div class="widget" style="padding-left:100px">
                        <h3>KVKK Kapsamınca;</h3>
                        <p>Bu sitedeki tüm içerikler 5846 Sayılı Fikir ve Sanat Eserlerini Koruma Kanunu'na istinaden koruma altındadır.
                            Buradaki hiçbir içerik (Yazı, Fotoğraf, Video vb.) site Kullanım Şartlarında da belirtildiği üzere izinsiz olarak kopyalanamaz,
                            alıntı yapılamaz, başka yerde yayınlanamaz.
                        </p>
                        <p>İletişim: <a href="mailto:info.yolacik.gmail.com/">info.yolacik.gmail.com</a></p>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

            </div> <!-- /.row -->

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <p class="mb-0">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">YOLaÇIK</a> <!-- License information: https://untree.co/license/ -->
                    </p>
                </div>
            </div> <!-- /.container -->
        </div>
    </div>	 <!-- /.site-footer -->
    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>


    <script src="~/untree.co-sterial/js/bootstrap.bundle.min.js"></script>
    <script src="~/untree.co-sterial/js/tiny-slider.js"></script>
    <script src="~/untree.co-sterial/js/aos.js"></script>
    <script src="~/untree.co-sterial/js/navbar.js"></script>
    <script src="~/untree.co-sterial/js/counter.js"></script>
    <script src="~/untree.co-sterial/js/rellax.js"></script>
    <script src="~/untree.co-sterial/js/flatpickr.js"></script>
    <script src="~/untree.co-sterial/js/glightbox.min.js"></script>
    <script src="~/untree.co-sterial/js/custom.js"></script>
</body>
</html>




